<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-layout}">
<head>
  <meta charset="UTF-8">
  <title>Activity Log</title>
  <script th:inline="javascript">
    /*<![CDATA[*/
    Chart.defaults.global.defaultFontFamily = 'Nunito, -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';
    /*]]>*/
  </script>
  <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
</head>
<body>
<section layout:fragment="content">

</section>
</body>
</html>
